*.iml
.gradle/
.kotlin/
gradle/gradle-daemon-jvm.properties
.idea/
local.properties
build/
*/build/
.DS_Store
captures/
externalNativeBuild/
.cxx/
*.jks
*.keystore
catalog.db
*.db-journal
*.db-shm
*.db-wal
